
<div id="wrapper">
   <div class="product-us">
        <div class="container">
            <div class="product__sub">
                <h1 class="heading__sub">Product Us</h1>
                <ul class="back-menu">
                    <li><a href="">home</a></li>|
                    <li><span>Product</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content d-f">
        <div class="content_intro">
            <!-- Phan tieu de search va tim kiem san pham -->
            <div class="content_search dash">
                <h2 class="content_title">SEARCH BY</h2>
                <div class="content_boxSearch">
                    <input class="content_boxSearch-input" type="text" placeholder="Search Products...">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                </div>
            </div>
            <!-- Phần catelory products -->
            <div class="content_catelogy dash">
                <h2 class="content_title">PRODUCT CATEGORIES</h2>
                <ul class="content_product-list">
                    <li class="content_product-list-item">
                        <a href="#" class="content_product-list-link">Chair</a>
                    </li>
                    <li class="content_product-list-item">
                        <a href="#" class="content_product-list-link">Decor</a>
                    </li>
                    <li class="content_product-list-item">
                        <a href="#" class="content_product-list-link">Furniture</a>
                    </li>
                    <li class="content_product-list-item">
                        <a href="#" class="content_product-list-link">Table</a>
                    </li>
                    <li class="content_product-list-item">
                        <a href="#" class="content_product-list-link">Uncategorized</a>
                    </li>
                </ul>
            </div>
            <!-- Product tags -->
            <div class="content_tags dash">
                <h2 class="content_title">PRODUCT TAGS</h2>
                <a class="content_box-link-tags" href="#">Jeants</a>
                <a class="content_box-link-tags" href="#">Latest</a>
                <a class="content_box-link-tags" href="#">New</a>
                <a class="content_box-link-tags" href="#">Pants</a>
                <a class="content_box-link-tags" href="#">Sale</a>
                <a class="content_box-link-tags" href="#">Winter</a>
            </div>
            <!-- Product Mini Price -->
            <div class="content_product-mini">
                <h2 class="content_title">PRODUCTS</h2>
                <div class="content_product-box">
                    <div class="content-img-price">
                        <img class="content_img-mini" src=".assets/Images/banghe1.jpg" alt="">
                        <p class="content-price">$119.00</p>
                    </div>
                    <div class="content-name-old">
                        <h3 class="content-name-old">Minimal Troma Furniture</h3>
                        <p class="content-price-old">$230.00</p>
                    </div>
                </div>
                <div class="content_product-box">
                    <div class="content-img-price">
                        <img class="content_img-mini" src=".assets/Images/banghe2.jpg" alt="">
                        <p class="content-price">$119.00</p>
                    </div>
                    <div class="content-name-old">
                        <h3 class="content-name-old">Minimal Troma Furniture</h3>
                        <p class="content-price-old">$230.00</p>
                    </div>
                </div>
                <div class="content_product-box">
                    <div class="content-img-price">
                        <img class="content_img-mini" src="./assets/Images/banghe3.jpg" alt="">
                        <p class="content-price">$119.00</p>
                    </div>
                    <div class="content-name-old">
                        <h3 class="content-name-old">Minimal Troma Furniture</h3>
                        <p class="content-price-old">$230.00</p>
                    </div>
                </div>
                <div class="content_product-box">
                    <div class="content-img-price">
                        <img class="content_img-mini" src=".assets/Images/banghe1.jpg" alt="">
                        <p class="content-price">$119.00</p>
                    </div>
                    <div class="content-name-old">
                        <h3 class="content-name-old">Minimal Troma Furniture</h3>
                        <p class="content-price-old">$230.00</p>
                    </div>
                </div>
                <div class="content_product-box">
                    <div class="content-img-price">
                        <img class="content_img-mini" src="./assets/Images/banghe4.jpg" alt="">
                        <p class="content-price">$119.00</p>
                    </div>
                    <div class="content-name-old">
                        <h3 class="content-name-old">Minimal Troma Furniture</h3>
                        <p class="content-price-old">$230.00</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content_products">
           <div class="content_products-main d-f">
                <!-- left -->
                <div class="content_products-img">
                    <img src="./assets/Images/proMain.jpg" alt=""  class="content_products-img-main">
                    <div class="content_products-img-incre">
                        <img class="content_products-img-icre-sm" src="./assets/Images/proMain_1.jpg" alt="">
                        <img class="content_products-img-icre-sm" src="./assets/Images/proMain_2.jpg" alt="">
                        <img class="content_products-img-icre-sm" src="./assets/Images/proMain_3.jpg" alt="">
                    </div>
                </div>
                <!-- right -->
                <div class="content_products-info">
                    <div class="product-info-title">
                        <a class="product-info-link" href="#">Chair</a>
                        <a class="product-info-link" href="#">Furniture</a>
                        <h2 class="product-info-title-h">Minimal Troma Furniture</h2>
                        <div class="info-price">
                            <span class="product-info-price-old">$230.00</span>
                            <span class="product-info-price">$119.00</span>
                        </div>
                    </div>
                    <p class="product-info-text">
                       
                    </p>
                    <div class="product-info-brand">
                        <span class="product-info-brand-item">Brands: </span>
                        <span class="product-info-brand-item-x">Hewlett-Packard</span>
                        <br>
                        <span class="product-info-brand-item">Product Code:</span>
                        <span class="product-info-brand-item-x">d12</span>
                        <br>
                        <span class="product-info-brand-item">Reward Points: </span>
                        <span class="product-info-brand-item-x">100</span>
                        <br>
                        <span class="product-info-brand-item">Stock: </span>
                        <span class="product-info-brand-item-y">In Stock</span>
                    </div>

                    <button type="submit" class="feedback_btn m-t-30">add to card</button>
                </div>
           </div>

           <div class="content_products-feedback">
            <button class="feedback_btn m-r-18" type="submit">Description</button>
            <button class="feedback_btn" type="submit">Reviews (0)</button>
           </div>

           <div class="content_products-text-fill d-f">
               <!-- left -->
               <div class="content_products-text">
                   <p class="content_products-text-p">
                    Shop Bàn Ghế - Địa chỉ phân phối bàn ghế giá sỉ tại Hồ Chí Minh <br>
                    - Cam kết giá tốt nhất thị trường, rẻ hơn 20-30% <br>
                    
                    - Đảm bảo chất lượng hàng nhập khẩu <br>
                    
                    - Tư vấn miễn phí cho Khách hàng dù mua hay không mua <br>
                    
                    - Hổ Trợ Giao Hàng Toàn Quốc - Bảo Hành Tận Nơi <br>
                    
                    - Cam kết giao hàng đúng hình ảnh trên web , Khách hàng có quyền lợi từ chối sản phẩm khi không đúng chất lượng <br>
                    
                    Nếu bạn đang tìm những mẫu ghế tinh tế nhưng lại nhỏ gọn, nổi bật và trẻ trung thì Bách Hóa Bàn Ghế chính là sự lựa chọn hoàn hảo 100% cho bạn.
                    </p>
               </div>
               <!-- right -->
               <div class="content_products-banner">
                   <img class="content_products-banner-img" src="./assets/Images/cap_2019.jpg" alt="">
               </div>

           </div>
        </div>
    </div>
</div>
