<div class="modall">
    <div class="modal__body">
        <div class="auth-form">
            <div class="auth-form__container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Đăng Nhập</h3>
                    <a routerLink="/register" class="auth-form__switch-btn">Đăng Ký</a>
                </div>

                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" class="auth-form__input" placeholder="Email của bạn">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" class="auth-form__input" placeholder="Mật khẩu của bạn">
                    </div>
                    
                </div>

                <div class="auth-form__aside">
                    <div class="auth-form__help">
                        <a href="" class="auth-form__help-link">Quên mật khẩu</a>
                        <span class="auth-form__help-gach"></span>
                        <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                    </div>
                </div>

                <div class="auth-form__controls">
                    <button class="btn lh btn-back">TRỞ LẠI</button>
                    <button class="btn lh btn-primary">ĐĂNG NHẬP</button>
                </div>
            </div>

            <div class="auth-form__socials">
                <a href="" class="auth-form__socials-fb btn btn--with-icon">
                    <i class="fab fa-facebook-square"></i>
                    <span class="auth-form__socials-title"> facebook</span> 
                </a>
                <a href="" class="auth-form__socials-gg btn btn--with-icon">
                    <i class="fab fa-google"></i>
                    <span class="auth-form__socials-title"> google</span> 
                </a>
            </div>
        </div>
    </div>
</div>   