<div id="contact">
    <div class="contact-us">
        <div class="container">
            <div class="contact__sub">
                <h1 class="heading__sub">Contact Us</h1>
                <ul class="back-menu">
                    <li><a href="">home</a></li>|
                    <li><span>contact</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="contact-area">
        <div class="gird">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="pd card h-100">
                    <span class="icon-contact text-center"><i class="fas fa-envelope"></i></span>
                    <div class="card-body text-center">
                      <h3 class="card-title">Mail Here</h3>
                      <p class="card-text">
                        Trungduc125@gmail.com
                        <br>
                        VietSneaker23@gmail.com
                        </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="pd card h-100">
                    <span class="icon-contact text-center"><i class="fas fa-map-marker-alt"></i></span>
                    <div class="card-body text-center">
                      <h3 class="card-title">Visit Here</h3>
                      <p class="card-text">
                        27 Lê Đức Thọ, P7, Gò Vấp,
                        <br>
                        TP. Hồ Chí Minh
                      </p>
                    </div>
                    
                  </div>
                </div>
                <div class="col">
                  <div class="pd card h-100">
                    <span class="icon-contact text-center"><i class="fas fa-phone"></i></span>
                    <div class="card-body text-center">
                      <h3 class="card-title">Call Here</h3>
                      <p class="card-text">
                        0344985260
                        <br>
                        0375901266</p>
                    </div>
                    
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-form">
      <div class="gird">
        <div class="section-form">
          <div class="section-title">
            <p>Anything On your Mind</p>
            <h1>Estimate Your Idea</h1>
          </div>
          <div class="section-btn">
            <a href=""><i class="fas fa-phone"></i>Make call</a>
          </div>
        </div>
        <div class="row">
          <div class="col pd-15">
            <input type="text" class="form-control form-input" placeholder="your name" aria-label="First name">
          </div>
          <div class="col pd-15">
            <input type="email" class="form-control" placeholder="your email" aria-label="Last name">
          </div>
        </div>
        <div class="row">
          <div class="col pd-15">
            <input type="text" class="form-control" placeholder="your phone" aria-label="First name">
          </div>
          <div class="col pd-15">
            <input type="text" class="form-control" placeholder="your subject" aria-label="Last name">
          </div>
        </div>
        <div class="mb-30">
          <textarea class="form-textarea form-control" id="exampleFormControlTextarea1" placeholder="Your message" rows="3"></textarea>
        </div>
        <div class="contact-btn text-center">
          <a href="" class="">get action</a>
        </div>
      </div>
    </div>
</div>