<div class="main">
  <div class="header">
      <div class="container">
          <div class="header__navbar">
              <div class="header__logo">
                  <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaj-k5PyuNkXR6LUmSyUvMUB54Ut9HHuokXQ&usqp=CAU" alt="">
              </div>
              <div class="header__menu">
                  <ul class="subnav">
                      <li><a href="">Trang chủ</a></li>
                      <li><a routerLink="/shop">shop</a></li>
                      <li>
                          <a href="#">Sản phẩm</a>
                    </li>
                      <li><a href="https://snkrvn.com/chuyen-muc/tin-tuc/">blog</a></li>
                      <li><a href="https://trungsneaker.com/">pages</a></li>
                      <li><a routerLink="/contact">Liên Hệ</a></li>
                  </ul>
              </div>
              <div class="header__right">
                  <ul>
                      <li><a href=""><i class="fas fa-search"></i></a></li>
                      <li><a routerLink="/login"><i class="far fa-user"></i></a></li>
                      <li><a href="https://trungsneaker.com/"><i class="fas fa-shopping-cart"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <router-outlet></router-outlet>
  <div id="footer">
    <div class="container">
        <div class="footer">
            <div class="footer-one">
                <div class="footer-img-logo">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaj-k5PyuNkXR6LUmSyUvMUB54Ut9HHuokXQ&usqp=CAU" alt="logo">
                </div>
                <div class="footer-one-time">
                    <div class="footer-one-time-img">
                        <img class="footer-time-img" src="./assets/Images/time.png" alt="Footer time">
                    </div>
                    <div class="footer-one-time-text">
                        <p class="footer-one-time-Q">Nếu có nhu cầu về giày sneaker cứ gọi</p>
                        <p class="footer-one-time-number">(0344) 985 260</p>
                    </div>
                </div>
            </div>
            <div class="footer-two">
                <h2 class="footer-title">Social Media</h2>
                <ul class="footer-list">
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Facebook</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Twitter</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">TikTok</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Instagram</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">FanPage</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Youtube</a>
                    </li>
                </ul>
            </div>
            <div class="footer-three">
                <h2 class="footer-title">Địa chỉ</h2>
                <ul class="footer-list">
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Hồ Chí Minh</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Đà Nẵng</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Đồng Tháp</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Cần Thơ</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Hà Nội</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Khánh Hòa</a>
                    </li>
                </ul>
            </div>
            <div class="footer-four">
                <h2 class="footer-title">Về chúng tôi</h2>
                <ul class="footer-list">
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Điều khoản & Điều kiện</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Bảo hành</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Liên hệ với chúng tôi</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">FAQ</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Sản phẩm giảm giá</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="" class="footer-list-item-link">Câu hỏi về sản phẩm</a>
                    </li>
                </ul>
            </div>
            <div class="footer-five">
                <a href="" class="footer-link-img">
                    <img src="./assets/Images/bigsale.jpg" alt="" class="footer-five-img">
                </a>
            </div>
        </div>
    </div>
  </div>
</div>