<div class="modall">
    <div class="modal__body">
        <div class="auth-form">
            <div class="auth-form__container">

                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Đăng ký</h3>
                    <a routerLink="/login" class="auth-form__switch-btn">Đăng nhập</a>
                </div>

                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" class="auth-form__input" placeholder="Email của bạn">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" class="auth-form__input" placeholder="Mật khẩu của bạn">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" class="auth-form__input" placeholder="Nhập lại mật khẩu của bạn">
                    </div>
                </div>

                <div class="auth-form__aside">
                    <p class="auth-form__policy-text">
                        Bằng việc đăng ký, bạn đã đồng ý với Vura về
                        <a href="" class="auth-fomr__policy-link">điều khoản dịch vụ</a>
                        &
                        <a href="" class="auth-fomr__policy-link">chính sách bảo mật</a>
                    </p>
                </div>

                <div class="auth-form__controls">
                    <button class="btn lh btn-back">TRỞ LẠI</button>
                    <button class="btn lh btn-primary">ĐĂNG KÝ</button>
                </div>
            </div>

            <div class="auth-form__socials">
                <a href="" class="auth-form__socials-fb btn btn--with-icon">
                    <i class="fab fa-facebook-square"></i>
                    <span class="auth-form__socials-title"> facebook</span> 
                </a>
                <a href="" class="auth-form__socials-gg btn btn--with-icon">
                    <i class="fab fa-google"></i>
                    <span class="auth-form__socials-title"> google</span> 
                </a>
            </div>
        </div>
    </div>
</div>